@import "../../../assets/variables";

.wrapper {
  height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF3EB;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}

.container {
  position: relative;
  bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1024px){
    bottom: 45px;
  }

  @media screen and (min-width: 577px) and (max-width: 767px) {
    bottom: 30px;
  }

  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    bottom: 10px;
  }
}

.image-box {
  padding-right: 32px;

  @media screen and (min-width: 577px) and (max-width: 767px) {
    padding-right: 0;
  }

  @media screen and (max-width: 576px) {
    padding-right: 0;
    padding-bottom: 24px;
  }

  &__picture {
    min-width: 288px;

    @media screen and (min-width: 577px) and (max-width: 767px) {
      max-width: 288px;
    }
  }
}

.content {
  max-width: 480px;

  @media screen and (max-width: 576px) {
    text-align: center;
  }

  &__desc {
    font-family: $main-font;
    font-weight: 600;
    font-size: 56px;
    line-height: 65px;
    color: $dark-color;
    padding-bottom: 64px;

    @media screen and (min-width: 768px) and (max-width: 1024px){
      font-size: 47px;
      line-height: 56px;
      padding-bottom: 45px;
    }

    @media screen and (min-width: 577px) and (max-width: 767px) {
      font-size: 32px;
      line-height: 41px;
      padding-bottom: 30px;
    }

    @media screen and (max-width: 576px) {
      font-size: 35px;
      line-height: 43px;
      padding-bottom: 50px;
    }

    @media screen and (max-width: 480px) {
      font-size: 32px;
      line-height: 37px;
      padding-bottom: 100px;
    }
  }
}