@import "../../../assets/variables";

.burger {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: none;
  padding: 20px;
  align-self: flex-end;

  @media screen and (max-width: 480px) {
    display: block;
  }
}

.btn {
  width: 16px;
  height: 2px;
  background-color: $dark-color;
  position: relative;
  border-radius: 10px;
  top: 7px;
  transition: 0.4s;

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    width: 16px;
    height: 2px;
    background-color: $dark-color;
    border-radius: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 6px;
    width: 16px;
    height: 2px;
    background-color: $dark-color;
    border-radius: 10px;
    transition: 0.4s;
  }

  &.close {
    transform: rotate(45deg);

    &:before {
      display: none;
    }

    &:after {
      bottom: 0;
      transform: rotate(90deg);
    }
  }
}